<div data-role="view"
     data-layout="main"
     data-model="app.viewmodels.addMarket"
     data-show="app.viewmodels.addMarket.getCoords">
    <h1>Add market</h1>
    <label for="tb-name">Name:</label>
    <input type="text" id="tb-name"
           data-bind="value: name" />
    <br />
    <button class="button" data-role="button" data-bind="events: {click: getCoords}">Locate</button>
    <span data-bind="visible: showSearching">Searching for coordinates..</span>
    <div data-bind="visible: coordsReady">Latitude: <span data-bind="text: lat"></span></div>
    <div data-bind="visible: coordsReady">Longtitude: <span data-bind="text: long"></span></div>
    <br />
    <span>Voice note:</span>
    <button class="button" data-role="button" data-bind="events: {click: recNote}">Record</button>
    <button class="button" data-role="button"
            data-bind="events: {click: saveMarket}">
        Save
    </button>

</div>